*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_container{
    transition: 0.5s ease-out;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

body{
    background-color: rgba(192, 192, 192, 0.2);
}

input:focus{
    outline: none;
}

.super_main_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 3;
}

main{
    width: 25%;
    min-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mountain_bg_container{
    width: 100%;
    height: 40vh;
    min-height: 300px;
}

.mountain_bg_image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mountain_bg_overlay{
    width: 100%;
    height: 40vh;
    min-height: 300px;
    background-color: rgba(131, 41, 131, 0.6);
    position: absolute;
    z-index: 2;
    top: 0%;
}


.input_text{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 5px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_text:focus-visible{
    outline: none;
}

.main_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}

.cards{
    width: 100%;
    height: 65px;
    border-bottom: rgba(128, 128, 128, 0.3) solid 1px;
    border-top: rgba(128, 128, 128, 0.3) solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type=radio] {
    width: 10%;
    height: 20px;
    margin: 0;
}

.cards_text{
    color: black;
    transition: 0.5s;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}


.rb:checked + .cards_text{
    color: rgba(128, 128, 128, 0.6);
    text-decoration: line-through;
    text-decoration-color: rgba(128, 128, 128, 0.6);
}

.last_text{
    color: rgba(128, 128, 128, 0.9);
    font-weight: 900;
    text-align: center;
}

.cards_footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    color: rgba(128, 128, 128, 0.9);
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: large;
    text-align: center;
    border-top: rgba(128, 128, 128, 0.4) solid 2px;
}

.item_text{
    background: transparent;
    background-color: transparent;
    border: none;
}

#all_cards_container{
    overflow-y: scroll;
    height: 450px;
}

#all_cards_container::-webkit-scrollbar{
    display: none;
}


.cross{
    visibility: hidden;
}

.footer_subsection{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.text_todo_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 25px;
    width: 100%;
}

.dark_toggle_container{
    background: #FFFFFF;
    width: 70px;
    height: 35px;
    padding: 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}


.dark_toggle{
    width: 25px;
    height: 25px;
    border-radius: 90px;
    background: #f6d327;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

body.dark{
    background: black;
    color: white;
}

body.dark .input_text,body.dark .main_container, body.dark .cards_text{
    background: black;
    color: white;
}

.all_btn, .act_btn, .comp_btn, .clear_btn{
    cursor: pointer;
}

@media screen and (max-width:760px) {
    .cross{
        visibility: visible;
    }
}